body {
    padding: 0;
    margin-top: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header{
    height: 70px;
    width: auto;
    padding: 10px;
}


#navegationbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around ;
    gap: 20px;

}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navlink {

    text-decoration: none;
    color: white;
    font-family: system-ui;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 1px 1px 14px rgb(8, 222, 118);

}

.flexcontainer{

    border-bottom: 2px solid rgb(8, 222, 118);
    margin: 0px 200px 0px 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 0px 20px 0px;

}
.headertag {

    font-size: 40px;
    font-family: system-ui;
    font-weight: 600;
    color: rgb(8, 222, 118);
    text-align: center;
    text-shadow: 1px 1px 14px rgb(8, 222, 118);

}

#apresentationcontainer{

    display: flex;
    justify-content: center;
    align-items: center;

}

#imagecard{

    width: 300px;
    height: 300px;
    border-radius: 400px;
    background-image: url(../images/Profilephoto2.jpeg);
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: 1px 1px 14px black;

}

ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style:armenian;

}

.item{

    color: white;
    font-family: system-ui;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 1px 1px  rgb(8, 222, 118);
    
}

.desc{
    font-size: 30px;
    color: white;
    font-family: system-ui;
    font-weight: bold;
}

#sociallinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.buttons{

    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: none;
    box-shadow: 1px 1px 14px rgb(8, 222, 118);
    background-color: black;
    cursor: pointer;

}

/* Mobile */ 

@media screen and (max-width:440px){
    header{
        height: 80px;
    }
    #navegationbar{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 2fr;
    }
    #imagecard{
        width: 200px;
        height: 200px;
        margin-top: 100px;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navlink{
        font-size: 20px;
    }

    .headertag{
        font-size: 30px;
    }
    
    .flexcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
}

/* Para Ipads e Tablets no geral */ 

@media screen and ( min-width:450px) and (max-width: 1024px){
    header{
        height: 80px;

    }
    #navegationbar{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 2fr;
    }
    #imagecard{
        width: 200px;
        height: 200px;
        margin-top: 100px;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navlink{
        font-size: 20px;
    }

    .headertag{
        font-size: 30px;
    }
    
    .flexcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
}