<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dev Portfolio </title>
</head>
<body>
    <header>
        <nav id="navegationbar">
            <div class="nav-container">
                <a href="about.html" class="navlink"> About Me </a>
                <a href="projects.html" class="navlink"> Projects </a>
            </div>
            <div class="nav-container">
                <a href="https://github.com/brenoviske" class="navlink"> <img src="../static/images/mingcute--github-fill.png" alt=""></a>
                <a href="www.linkedin.com/in/breno-reis-893009321" class="navlink"> <img src="../static/images/grommet-icons--linkedin-option.png" alt=""></a>
                <a href="https://www.instagram.com/brenoviske/" class="navlink"> <img src="../static/images/ri--instagram-fill.png" alt=""></a>
        </nav>
            </div>
           
    </header>
    <main>
        <section id="apresentationcontainer">
            <div id="apresentation">
                <h1 class="headertag"> Hi , I'm <strong id="firststrong"> Breno Sampaio </strong> </h1>
                <h1 class="headertag"> <strong id="secondstrong">Full Stack</strong> Developer </h1>
                <button id="contactbutton"> Contact Me </button>
            </div>
            <div id="imagecontainer">
                <button id="personalphoto"></button>
            </div>
        </section>
        <section id="resumearea">
            <h1 class="headertag2" id="resumeheadertag"> WHO AM I ?</h1>
            <article class="maintext">
                Hey there, I am very delighted to have you visiting my portfolio. <br> <br>
                I am a 21 years old software student, comitted to inovative solutions, aiming always high to leave a positive mark in  the digital World. <br><br>
                Since I was a child, I have always loved playing video games with my friends, which is why I fell in love with the world of technology and its discoveries. <br><br>
                In my free time, I like to go out, study, play and read, an experience that I consider to be enriching for my behavioral skills.
                Feel free to explore and discover a little more about my story
            </article>
        </section>
        <section id="skillscontainer">
            <h1 id="skillheadertag"> Skills</h1>
            <div id="buttoncontainer">
                <button class="cards" id="htmlcard"><img src="../static/images/devicon--html5 (1).png" alt=""></button>
                <button class="cards" id="csscard"><img src="../static/images/devicon--css3.png" alt="" id="csscard"></button>
                <button class="cards" id="jscard"><img src="../static/images/logos--javascript.png" alt=""></button>
                <button class="cards" id="pythoncard"> <img src="../static/images/material-icon-theme--python.png" alt=""></button>
                <button class="cards" id="flaskcard"><img src="../static/images/devicon--flask.png" alt="" id="python"></button>
            </div>
        </section>
        <section id="projectcontainer">
            <article class="maintext" id="projecttext">
                <h1 id="projectheadertag"> Dinamic Projects </h1>
                With a strong programming background, from AI to frameworks, count with a dedicated professional specialized in responsive applications.
                <br>
                Made for those who wants the best of their product.
                <a href=""><button id="projectbutton"> See Projects </button></a>
            </article>

            <div id="imagecontainer">
                <button class="projectimage" id="firstproject"></button>
                <button class="projectimage" id="secondproject"></button>
            </div>
        </section>
    </main>
    <footer>
        <h1 id="chattag"> Let Us have a chat. </h1>
        <div id="chatcontainer">
            <input type="text" placeholder="Your Name" class="credentials">
            <input type="text" placeholder="Email Address" class="credentials">
            <input type="text" placeholder="Chat Here" id="chatbox">
        </div>
    </footer>
    <button id="submitbutton"> Submit </button>
</body>
</html>