<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/projects.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Projects </title>
</head>
<body>
    <header>
        <nav id="navegationbar">
            <div class="nav-container">
                <a href="index.html" class="navlink"> Homepage</a>
                <a href="about.html" class="navlink"> About Me </a>
            </div>
            <div class="nav-container">
                <a href="https://github.com/brenoviske" class="navlink"> <img src="../static/images/mingcute--github-fill.png" alt="" class="navlink"></a>
                <a href="" class="navlink"> <img src="../static/images/grommet-icons--linkedin-option.png" alt="" class="navlink"></a>
                <a href="https://www.instagram.com/brenoviske/" class="navlink"> <img src="../static/images/ri--instagram-fill.png" alt="" class="navlink"></a>
        </nav>
    </header> <br><br>
    <main>
        <h1 class="headertag"> Projects </h1>
        <section id="projectone">
            <button class="projectcard" id="Primetest"></button>
            <article id="projectonecard">
                <h2 class="projecttitle"> Prime Test with Java Script </h2>
                <p class="projectdescription"> This project is a simple prime number tester built with JavaScript. It checks if a given number is prime and displays the result on the webpage.</p>
                <a href="../PrimeTest-with-JavaScript/"><button class="projectbutton"> See Project </button></a>
        </section><br><br>
        <section id="projecttwo">
            <button class="projectcard" id="Counter"></button>
            <article id="projecttwocard">
                <h2 class="projecttitle"> Counter Application  </h2>
                <p class="projectdescription"> This project is a simple counter application built with JavaScript. It allows users to increment, decrement, and reset a counter value.</p>
                <a href="../MyCounter/index.html"><button class="projectbutton"> See Project </button></a>
            </article>
        </section> <br><br>
        <section id="projectthree">
            <button class="projectcard" id="API"></button>
            <article id="projectthreecard">
                <h2 class="projecttitle"> College API Project </h2>
                <p class="projectdescription"> Made with my college classmates, this project was developed to control and record the flow of medical certificates in our college, allowing easy access and handling of this data for better organization of our college, made with Python, this project is one of the most insteresting ones I was part of it </p>
                <a href=""><button class="projectbutton"> See Project </button></a>
            </article>
        </section> <br><br><br>
    </main>
    <footer>
        <section id="sociallinks">
            <a href=""><img src="../static/images/ri--instagram-fill.png" alt=""></a>
            <a href=""><img src="../static/images/mingcute--github-fill.png" alt=""></a>
            <a href=""><img src="../static/images/grommet-icons--linkedin-option.png" alt=""></a>
        </section>
    </footer>
    
</body>
</html>